<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MetroPulse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to "Rental Stations", rental_stations_path , class: "nav-link" %>
        </li>
        <% if Current.user %>

        <li class="nav-item">
    
          <%= button_to "Logout", logout_path,method: :delete , class: "nav-link" %>
        </li>

          <li class="nav-item">
          <div class="d-flex">
            
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          <% if Current.user && Booking.where(provider_id: Current.user.id, status: "pending").any? %>
            <i class="fa-solid fa-circle fa-2xs" style="color: #FF0000;margin-top:0.55rem;margin-left:-0.2rem;"></i>

          <% elsif Current.user && Booking.where(customer_id: Current.user.id, status: "pending").any? %>
            <i class="fa-solid fa-circle fa-2xs" style="color: #FF0000;margin-top:0.55rem;margin-left:-0.5rem;"></i>

          <% elsif Current.user && Booking.where(customer_id: Current.user.id, status: "accepted").any? %>
            <i class="fa-solid fa-circle fa-2xs" style="color: #FF0000;margin-top:0.55rem;margin-left:-0.5rem;"></i>
          
          
        <% end %>
        </div>
        </li>

       <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", sign_up_path ,class: "nav-link" %>
        </li>
        <li class="nav-item">
         
          <%= link_to "Login", sign_in_path, class: "nav-link" %>

        </li>

        <% end %>
        
      
     
      
       
      </ul>
      
    </div>
  </div>
</nav>